/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
public/js/app.js
/public/js/app.js
public/js/app.js*
/public/index*html
/public/index*js
/public/resources*js
/public/index*css
*deb
/package-lock.json
/mariadb-data
/.parcel-cache
