:root {
   --t-animation: 0.2s;
}

.flex { display: flex; }
.flex > * { flex: 1; }
.flex.wrap { flex-wrap: wrap; }
.flex.start { justify-content: start; }
.pointer { cursor: pointer; }
.red { background: red !important; }
.flex.g1 { gap: 0.25rem; }
.flex.g2 { gap: 0.5rem; }
.flex.g3 { gap: 1rem; }
